<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tinytinybites.android.nihal_micro">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:name="com.tinytinybites.android.nihal_micro.application.EApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Easy Instructions"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.tinytinybites.android.nihal_micro.splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tinytinybites.android.nihal_micro.activity.QuizActivity"
            android:label="Quiz"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.tinytinybites.android.nihal_micro.activity.DashboardActivity" />
        <activity
            android:name="com.tinytinybites.android.nihal_micro.MainActivity1"
            android:label="Tutorial" />
        <activity android:name="com.tinytinybites.android.nihal_micro.description" />
        <activity android:name="com.tinytinybites.android.nihal_micro.MainActivity"
            android:label="Addressing Modes of 8086"></activity>
    </application>

</manifest>